# API Configuration
# Choose one of the following API providers

# === Main environment variables ===
OPENAI_API_KEY=sk-your-key-here #must for client api calls and gpt-4o-mini
HF_TOKEN=hf_your-token-here #for Qwen-72B or other Hugging Face models, optional if using OpenAI models
NVIDIA_API_KEY=nvapi-your-key-here #for nemotron-3-super-120b-a12b

API_BASE_URL=https://api.openai.com/v1 #for gpt models
# or "https://router.huggingface.co/v1" if using Qwen-72B
# or "https://integrate.api.nvidia.com/v1" if using nemotron-3-super-120b-a12b

MODEL_NAME=gpt-4o-mini 
# or "Qwen/Qwen2.5-72B-Instruct" for hf model
# or "nvidia/nemotron-3-super-120b-a12b" for nvidia model


# Optional settings
TEMPERATURE=0.5
MAX_TOKENS=200

# === Environment API Configuration ===
# Leave unset or commented to use local environment directly (no Docker needed)
# Set this to make inference.py connect to the Docker API container
# Examples:
#   - Local Docker: http://localhost:7860
#   - Hugging Face Space: https://username-spacename.hf.space
ENVIRONMENT_BASE_URL=http://localhost:7860
